<div class="container">
  <h2>Admisiones</h2>
  <div class="row">
    <div class="col s12">
      <app-card-admision-detalle [admision]="admision"></app-card-admision-detalle>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6">
          <a class="active" href="#detalles">Detalles</a>
        </li>
        <li class="tab col s6">
          <a href="#requisitos">Requisitos</a>
        </li>
      </ul>
      <div id="detalles" class="col s12">
        <app-card-admision-detalle-item *ngFor="let detalle of detalles; let i = index" [esInfo]="true" [index]="i" [model]="detalle"></app-card-admision-detalle-item>
        <div *ngIf="!loading && detalles.length==0" class="col s12 center-align">
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                <i class="material-icons">reorder</i>
              </span>
              <p>No existen detalles.</p>
            </div>
          </div>
        </div>
      </div>
      <div id="requisitos" class="col s12">
        <app-card-admision-detalle-item *ngFor="let requisito of requisitos; let i = index" [esInfo]="true" [index]="i" [model]="requisito"></app-card-admision-detalle-item>
        <div *ngIf="!loading && requisitos.length==0" class="col s12 center-align">
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                <i class="material-icons">reorder</i>
              </span>
              <p>No existen requisitos.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>