<div class="row">
  <div *ngFor="let usuario of usuarios" class="col s12 m6">
    <app-card-usuario [usuario]="usuario" (detalle)="onDetalle($event)" (editar)="onEditar($event)" (eliminar)="onEliminar($event)"></app-card-usuario>
  </div>
  <div *ngIf="!usuarios || usuarios.length===0 && !loading" class="col s12 center-align">
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          <i class="material-icons">reorder</i>
        </span>
        <p>No existen usuarios.</p>
      </div>
    </div>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</div>