<div class="card-panel row valign-wrapper p-0">
  <div *ngIf="esInfo">
    <div class="col s12">
      <p>{{(index + 1) + '. ' + model.descripcion}}</p>
    </div>
  </div>

  <div *ngIf="!esInfo && !model.accion" class="col s9">
    <p>{{(index + 1) + '. ' + model.descripcion}}</p>
  </div>
  <div *ngIf="!esInfo && model.accion==='I' || model.accion==='U'" class="col s10">
    <div class="input-field col s12">
      <textarea id="descripcion" name="descripcion" class="materialize-textarea" [(ngModel)]="model.descripcion" #descripcion="ngModel"></textarea>
      <label for="descripcion">Descripción</label>
    </div>
  </div>
  <div *ngIf="!esInfo && !model.accion" class="col s3 center-align">
    <a [routerLink]="" class="mx-1" (click)="_editar()">
      <i class="material-icons">edit</i>
    </a>
    <a [routerLink]="" class="ml-1" (click)="_arriba()">
      <i class="material-icons">expand_less</i>
    </a>
    <a [routerLink]="" class="mr-1" (click)="_abajo()">
      <i class="material-icons">expand_more</i>
    </a>
    <a [routerLink]="" class="mx-1 red-text" (click)="_eliminar()">
      <i class="material-icons">delete</i>
    </a>
  </div>
  <div *ngIf="!esInfo && model.accion==='I' || model.accion==='U'" class="col s2 center-align">
    <a [routerLink]="" class="mx-1" (click)="_insertarModificar()">
      <i class="material-icons">check</i>
    </a>
    <a [routerLink]="" class="mx-1" (click)="_cancelar()">
      <i class="material-icons">cancel</i>
    </a>
  </div>
</div>