<br>
<div class="container principal">
  <div class="row">
    <div class="col s12 m12 l6">
      <div class="row center-align">
        <h5>Inicia sesión</h5>
        <i class="large material-icons">person_pin</i>
      </div>
      <p class="center-align">Inicia sesión y accede a todos tus contratos guardados.</p>
    </div>
    <div class="col s12 m12 l6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Login</span>
          <form id="form" name="form" (ngSubmit)="login(f)" #f="ngForm">
            <div class="row">
              <div class="input-field col s12">
                <input id="correo" name="correo" type="email" class="validate" [ngClass]="{'invalid': f.submitted && !correo.valid }" [(ngModel)]="model.correo"
                  #correo="ngModel" required>
                <label for="correo">Correo</label>
              </div>
              <div class="input-field col s12">
                <input id="contrasena" name="contrasena" type="password" class="validate" [ngClass]="{'invalid': f.submitted && !contrasena.valid }"
                  [(ngModel)]="model.contrasena" #contrasena="ngModel" required>
                <label for="contrasena">Contraseña</label>
              </div>
            </div>
          </form>
        </div>
        <div class="card-action">
          <button class="btn waves-effect waves-light" form="form" type="submit">
            Iniciar Sesión
            <i class="material-icons right">send</i>
          </button>
          <!-- &nbsp;
          <a href="#">Olvidé mi contraseña</a> -->
        </div>
      </div>
    </div>
  </div>
</div>