<div class="card horizontal">
  <div class="card-header">
    <span class="card-title">{{solicitud.solicitud}}</span>
    <div [hidden]="!botonera" class="botonera">
      <a target="_blank" [href]="'/solicitudes/ex/' + solicitud._id" class="btn tooltipped mx-1" data-position="bottom" data-tooltip="Vista previa">
        <i class="material-icons">remove_red_eye</i>
      </a>
      <a [routerLink]="['/solicitudes', solicitud._id, 'edit']" class="btn tooltipped mx-1" data-position="bottom" data-tooltip="Editar">
        <i class="material-icons">edit</i>
      </a>
    </div>
  </div>
  <div class="card-content">
    <!-- <h3>{{solicitud.solicitud}}</h3> -->
    <div class="row">
      <div class="col m12">
        <p>{{solicitud.descripcion}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col m12 s12">
        <label for="archivo">
          <strong>Archivo:</strong>
        </label>
        <p id="archivo" name="archivo">
          <a target="_blank" [href]="'/' + solicitud.archivo">
            <i class="material-icons left">attach_file</i>
            {{solicitud.archivo}}
          </a>
        </p>
      </div>
    </div>
  </div>
</div>