<form name="form" (ngSubmit)="guardar(f)" #f="ngForm">
  <div class="row">
    <div class="input-field col s12 m10">
      <input id="tramite" name="tramite" type="text" class="validate" [ngClass]="{'invalid': f.submitted && !tramite.valid }"
        [(ngModel)]="model.tramite" #tramite="ngModel" required>
      <label for="tramite">Trámite</label>
    </div>
    <div class="input-field col s12 m2">
      <input id="valor" name="valor" type="text" class="validate" [ngClass]="{'invalid': f.submitted && !valor.valid }" [(ngModel)]="model.valor"
        #valor="ngModel" required>
      <label for="valor">Valor</label>
    </div>
    <div class="input-field col s12">
      <textarea id="descripcion" name="descripcion" class="materialize-textarea validate" [ngClass]="{'invalid': f.submitted && !descripcion.valid }"
        [(ngModel)]="model.descripcion" #descripcion="ngModel" required></textarea>
      <label for="descripcion">Descripción</label>
    </div>

    <h6>Dialogflow</h6>
    <div class="divider mb-3"></div>
    <div class="input-field col s12">
      <input id="keyDialogflow" name="keyDialogflow" type="text" class="validate" [ngClass]="{'invalid': f.submitted && !keyDialogflow.valid }"
        [(ngModel)]="model.keyDialogflow" #keyDialogflow="ngModel" required>
      <label for="keyDialogflow">Key unico de Dialogflow</label>
    </div>
  </div>
  <div class="right-align">
    <button type="submit" class="btn waves-effect waves-light">
      Guardar
      <i class="material-icons right">save</i>
    </button>
    <button type="button" class="waves-effect btn-flat" (click)="_cancelar()">
      Cancelar
      <i class="material-icons right">cancel</i>
    </button>
  </div>
</form>