<div class="row">
  <div class="col s12 m6"></div>
  <div class="col s12 m6">
    <div class="row">
      <div class="col s12 m12">
        <div class="card hoverable" [routerLink]="['/admisiones']">
          <div class="card-content">
            <span class="card-title">Admisiones</span>
            <p>Ingresa, modifica o elimina los diferentes tipos de admisiones para la carrera.</p>
          </div>
          <!-- <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
          </div> -->
        </div>
      </div>
      <div class="col s12 m12">
        <div class="card hoverable" [routerLink]="['/tramites']">
          <div class="card-content">
            <span class="card-title">Trámites</span>
            <p>Ingresa, modifica o elimina los diferentes trámites.</p>
          </div>
          <!-- <div class="card-action">
                  <a href="#">This is a link</a>
                  <a href="#">This is a link</a>
                </div> -->
        </div>
      </div>
      <div class="col s12 m12">
        <div class="card hoverable" [routerLink]="['/solicitudes']">
          <div class="card-content">
            <span class="card-title">Modelo de solicitudes</span>
            <p>Ingresa, modifica o elimina los diferentes modelos de solicitudes.</p>
          </div>
          <!-- <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                      </div> -->
        </div>
      </div>
      <div class="col s12 m12">
        <div class="card hoverable" [routerLink]="['/parametros']">
          <div class="card-content">
            <span class="card-title">Parámetros de configuración</span>
            <p>Modifica los parámetros de configuración del sistema.</p>
          </div>
          <!-- <div class="card-action">
                              <a href="#">This is a link</a>
                              <a href="#">This is a link</a>
                            </div> -->
        </div>
      </div>
    </div>
  </div>
</div>