<div class="row">
  <div *ngFor="let admision of admisiones" class="col s12 m6">
    <app-card-tipo-admision [admision]="admision" (detalle)="onDetalle($event)" (editar)="onEditar($event)" (eliminar)="onEliminar($event)"></app-card-tipo-admision>
  </div>
  <div *ngIf="admisiones && admisiones.length===0 && !loading" class="col s12 center-align">
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          <i class="material-icons">reorder</i>
        </span>
        <p>No existen admisiones.</p>
      </div>
    </div>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</div>